:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2px;
}

.description {
  margin: 0;
  font-size: 11px;
}

.indicator {
  height: 8px;
  width: 8px;
  border-radius: 5px;
  float: left;
}

.indicator + .indicator {
  margin-left: 2px;
}
