<app-header userPhoto="https://angular.io/assets/images/logos/angular/angular.svg" userName="Fulano de Tal"></app-header>
<main class="container">
  <div class="row">
    <div class="col-9">
      <app-months-panel [months]="months" [selectedMonthIndex]="selectedMonth"></app-months-panel>
    </div>
    <div class="col-3" style="padding-left: 0">
      <app-total-panel [total]="10" [pending]="5"></app-total-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <app-purchases-panel (addPurchase)="startNewPurchase()" [purchases]="purchases"></app-purchases-panel>
    </div>
  </div>
  <a style="text-align: center; display: block" routerLink="/entrar">[Ir para a tela de Login]</a>
</main>
<app-purchase-modal (finishPurchase)="finishNewPurchase($event)"></app-purchase-modal>
