<app-loading *ngIf="loading$ | async"></app-loading>
<app-header userPhoto="https://angular.io/assets/images/logos/angular/angular.svg" [userName]="(user$ | async).name" (logout)="logout()"></app-header>
<main class="container">
  <div class="row">
    <div class="col-9">
      <app-months-panel (select)="changeMonth($event)" [months]="months$ | async" [selectedMonthIndex]="selectedMonth$ | async"></app-months-panel>
    </div>
    <div class="col-3" style="padding-left: 0" *ngIf="(totals$ | async) as totals" >
      <app-total-panel [total]="totals.total" [pending]="totals.pending"></app-total-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <app-purchases-panel (updatePurchase)="startUpdatePurchase($event)" (addPurchase)="startNewPurchase()" [purchases]="purchases$ | async"></app-purchases-panel>
    </div>
  </div>
</main>
<app-purchase-modal (finishPurchase)="finishPurchase($event)"></app-purchase-modal>
