form {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 6px;
}

label[for="password"] {
  display: flex;
  justify-content: space-between;
}

form > small {
  text-align: right;
  width: 100%;
  display: block;
}

button[disabled] {
  background: #EEE;
  color: #333;
  border: 1px solid #666;
}
